<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<head>
    <title>Create</title>
</head>
<section layout:fragment="content">
    <h1>Добавить новый урл</h1>
    <form action="/urls" method="post">
        <div class="mb-3">
            <label>Название</label>
            <input class="form-control" type="text" name="name">
        </div>
        <div class="mb-3">
        </div>
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>
</section>
