<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">

<head>
    <title>Show url</title>
</head>
<section layout:fragment="content">
    <h1>Сайт: </h1>
    <div class="card" th:object="${url}">
        <table class="table table-bordered table-hover mt-3">
            <tbody>
            <tr>
                <td>ID</td>
                <td th:text="*{getId()}"></td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>
                    <a th:href="@{/urls/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(url.getName(), 30)}"></a>
                </td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>
                    <a th:text="${#temporals.format(url.createdAt, 'dd-MM-yyyy HH:mm')}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  <!--  <div class="card-footer" th:object="${url}">
        <a class="btn btn-primary" th:href="@{/urls/{id}/edit(id=*{id})}">Редактировать</a>
        <a class="btn btn-primary" th:href="@{/urls/{id}/delete(id=*{id})}">Удалить</a>&ndash;&gt;
    </div>-->

</section>
